#root{
    --main-color: #525252;
    --second-color:#414141;
    --third-color: #313131;
    --fourth-color:#B4B4B8;
    --white-color: #f8f8f8;
}
.navbar-container{
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: 99;
    background: var(--second-color);
    width: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transition: all .6s ease-in-out;
}

.navbar-container.active{
    width: 200px;
}

.navbar-container .logo{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.navbar-container .logo .logo-img{
    width: 50px;
    display: none;
}

.navbar-container.active .logo .logo-img{
    display: block;
}

.navbar-container .logo .logo-name{
    display: none;
    font-size: 17px;
    font-weight: bold;
}

.navbar-container.active .logo .logo-name{
    display: block;
    color:  var(--white-color);
} 

.navbar-menu{
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-menu .menu{
    cursor: pointer;
    background: none;
    border: none;
    outline: none;
    font-size: 22px;
    color:  var(--white-color);
}

.navbar-menu .menu:hover{
    transition: color .3s ease-in-out;
    color: #f8f8f879;
}

.navbar-container.active .menu{
    font-size: 18px;
}

.close{
    display: none;
}

.close.show{
    display: flex;
    align-items: center;
}

.bars.hide{
    display: none;
}

.navbar-container .navigation{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.navbar-container.active .navigation{
    align-items: normal;
}

.navbar-container .navigation .link{
    position: relative;
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    color: #fff;
}

.navbar-container .navigation .link .name-display{
    position: absolute;
    background:  var(--fourth-color);
    width: 120px;
    display: flex;
    justify-content: center;
    left: 50px;
    padding: 5px;
    border-radius: 5px;
    color:  var(--white-color);
    opacity: 0;
}

.navbar-container .navigation .link:hover .name-display{
    transition: all .3s ease-in-out;
    opacity: 1;
}

.navbar-container.active .navigation .link:hover .name-display{
    opacity: 0;
}

.navbar-container .navigation .link .link-name{
    display: none;
}

.navbar-container.active .navigation .link .link-name{
    font-size: 18px;
    display: block;
}

.navbar-container.active .navigation .link:hover .link-name{
    transition: color .3s ease-in-out;
    color: #f8f8f879;
}

.navbar-container .my-profile{
    cursor: pointer;
    display: flex;
    gap: 5px;
    align-items: center;
}

.navbar-container .my-profile .my-img{
    width: 40px;
    background: var(--white-color);
    padding: 1px;
    border-radius: 10px;
}

.navbar-container .my-image-name{
    color:  var(--white-color);
    font-size: 14px;
    font-weight: bold;
    display: none;
}

.navbar-container.active .my-image-name{
    display: block;
}

.main-container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
}

.main{
    margin-left: 5rem;
    background: rgba(255, 255, 255, 0.06);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.06);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    width: 1000px;
    height: 100%;
    display: flex;
    overflow:scroll;
    overflow-x: hidden;
    transition: all .5s ease;
}

.main::-webkit-scrollbar{
    display: none;
}

.main.move{
    margin-left: 13rem;
}

.main .my-foto{
    position: absolute;
    bottom: 0;
    right: -50px;
    width: 500px;
}

.main .main-text{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 10rem;
    gap: 1rem;
}

.main .main-text .introduce{
    font-size: 30px;
    width: 55%;
    color: var(--second-color);
}

.main .main-text .introduce span{
    font-size: 20px;
    color:  var(--fourth-color);
}

.main .main-text .description{
    font-size: 12px;
    font-weight: 500;
    color: var(--second-color);
    width: 55%;
}

.main .main-text .social-media{
    display: flex;
    align-items: center;
    gap: 10px;
}

.main .main-text .social-media .icon{
    cursor: pointer;
    display: flex;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    background: var(--second-color);
    color: #f8f8f890;
    width: 35px;
    height: 35px;
    border-radius: 100%;
    font-size: 18px;
    transition: background .6s ease-in-out;
}

.main .main-text .social-media .icon:hover{
    background: var(--fourth-color);
}

.main .h1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: var(--second-color);
}

@media screen and (min-width:320px) and (max-width:768px){
    *{
        scroll-behavior: smooth;
        overflow: hidden;
    }
    .navbar-container{
        top: 0;
        bottom: 0;
        width: 50px;
        overflow: hidden;
    }
    .navbar-container .my-profile .my-img{
        width: 35px;
    }
    .navbar-container .navigation .link:hover .name-display{
        opacity: 0;
    }
    .main{
        width: 100%;
        align-items: center;
        margin: 0;
    }
    .main .my-foto{
        width: 75%;
        right: -30%;
        z-index: -1;
    }
    .main .main-text{
         margin-left: 6rem;
    }
    
    .main .main-text .introduce{
        font-size: 20px;
        width: 95%;
    }

    .main .main-text .introduce span{
        font-size: 14px;
    }

    .main .main-text .description{
        width: 80%;
        font-size: 12px;
    }

    .main .h1{
        margin-left: 10%;
    }
}