#root{
    --main-color: #525252;
    --second-color:#414141;
    --third-color: #313131;
    --fourth-color:#B4B4B8;
    --white-color: #f8f8f8;
}
.navbar-container{
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: 99;
    background: var(--second-color);
    width: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transition: all .6s ease-in-out;
}

.navbar-container.active{
    width: 200px;
}

.navbar-container .logo{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.navbar-container .logo .logo-img{
    width: 50px;
    display: none;
}

.navbar-container.active .logo .logo-img{
    display: block;
}

.navbar-container .logo .logo-name{
    display: none;
    font-size: 17px;
    font-weight: bold;
}

.navbar-container.active .logo .logo-name{
    display: block;
    color:  var(--white-color);
} 

.navbar-menu{
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-menu .menu{
    cursor: pointer;
    background: none;
    border: none;
    outline: none;
    font-size: 22px;
    color:  var(--white-color);
}

.navbar-menu .menu:hover{
    transition: color .3s ease-in-out;
    color: #f8f8f879;
}

.navbar-container.active .menu{
    font-size: 18px;
}

.close{
    display: none;
}

.close.show{
    display: flex;
    align-items: center;
}

.bars.hide{
    display: none;
}

.navbar-container .navigation{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.navbar-container.active .navigation{
    align-items: normal;
}

.navbar-container .navigation .link{
    position: relative;
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    color: #fff;
}

.navbar-container .navigation .link .name-display{
    position: absolute;
    background:  var(--fourth-color);
    width: 120px;
    display: flex;
    justify-content: center;
    left: 50px;
    padding: 5px;
    border-radius: 5px;
    color:  var(--white-color);
    opacity: 0;
}

.navbar-container .navigation .link:hover .name-display{
    transition: all .3s ease-in-out;
    opacity: 1;
}

.navbar-container.active .navigation .link:hover .name-display{
    opacity: 0;
}

.navbar-container .navigation .link .link-name{
    display: none;
}

.navbar-container.active .navigation .link .link-name{
    font-size: 18px;
    display: block;
}

.navbar-container.active .navigation .link:hover .link-name{
    transition: color .3s ease-in-out;
    color: #f8f8f879;
}

.navbar-container .my-profile{
    cursor: pointer;
    display: flex;
    gap: 5px;
    align-items: center;
}

.navbar-container .my-profile .my-img{
    width: 40px;
    background: var(--white-color);
    padding: 1px;
    border-radius: 10px;
}

.navbar-container .my-image-name{
    color:  var(--white-color);
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    display: none;
}

.navbar-container.active .my-image-name{
    display: block;
}

.main-container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
}

.main{
    margin-left: 5rem;
    background: rgba(255, 255, 255, 0.06);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.06);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    width: 1000px;
    height: 100%;
    display: flex;
    overflow:scroll;
    overflow-x: hidden;
    transition: all .5s ease;
}

.main::-webkit-scrollbar{
    display: none;
}

.main.move{
    margin-left: 13rem;
}

.main .my-foto{
    position: absolute;
    bottom: 0;
    right: -50px;
    width: 500px;
}

.main .main-text{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 10rem;
    gap: 1rem;
}

.main .main-text .introduce{
    font-size: 30px;
    width: 60%;
    color: var(--second-color);
}

.main .main-text .introduce span{
    font-size: 20px;
    color:  var(--fourth-color);
}

.main .main-text .description{
    font-size: 16px;
    font-weight: 500;
    color: var(--second-color);
    width: 55%;
}

.main .main-text .social-media{
    display: flex;
    align-items: center;
    gap: 10px;
}

.main .main-text .social-media .icon{
    cursor: pointer;
    display: flex;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    background: var(--second-color);
    color: #f8f8f890;
    width: 35px;
    height: 35px;
    border-radius: 100%;
    font-size: 18px;
    transition: background .6s ease-in-out;
}

.main .main-text .social-media .icon:hover{
    background: var(--fourth-color);
}

.main .h1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: var(--second-color);
}

.about-container{
    width: 100%;
    margin: 3rem;
    color: var(--white-color);
    overflow-x: hidden;
    overflow-y: auto;
}

.gap:not(:last-child){
    margin-bottom: 5rem;
}

.about,
.pendidikan,
.skill,
.experience{
    width: 100%;
    height: 100%;
    gap: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.my-picture
{
    border-radius: 20px;
    object-fit: cover;
    background: var(--fourth-color);
    width: 40%;
    height: 90%;
    background-image: url('./assets/my-foto.png');
    background-position: center;
    background-size: cover ;
    background-clip: content-box;
}

.pendidikan-picture{
    border-radius: 20px;
    object-fit: cover;
    background: var(--fourth-color);
    width: 45%;
    height: 90%;
    background-image: url('./assets/study.jpg');
    filter: grayscale(0.8);
    background-position: center;
    background-size: cover ;
    background-clip: content-box;
}

.skill-picture{
    border-radius: 20px;
    object-fit: cover;
    background: var(--fourth-color);
    width: 45%;
    height: 90%;
    background-image: url('./assets/skill.jpg');
    filter: grayscale(0.8);
    background-position: center;
    background-size: cover ;
    background-clip: content-box;
}

.experience-picture{
    border-radius: 20px;
    object-fit: cover;
    background: var(--fourth-color);
    width: 45%;
    height: 90%;
    background-image: url('./assets/pengalaman.jpg');
    filter: grayscale(0.8);
    background-position: center;
    background-size: cover ;
    background-clip: content-box;
}

.introduce{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.introduce p{
    font-size: 1rem;
    line-height: 1.5rem;
}

.introduce h1{
    font-size: 2rem;
}


.pendidikan .introduce ul li{
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
}

.pendidikan .introduce ul li span:first-child{
    font-weight: bold;
    font-size: 1.1rem;
}

::-webkit-scrollbar{
    display: none;
}

.wrap h3{
    font-weight: 400;
}

.skill-container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.chart{
    position: relative;
    margin-top: 10px;
    width: 90%;
    border: 4px solid #202020;
    height: 25px;
    border-radius: 15px;
    z-index: 99;
}

.persent{
    position: absolute;
    top: 3.5px;
    left: 10px;
    color: var(--third-color);
    font-size: 16px;
    font-weight: bold;
    z-index: 99;
}

.web-chart::after
{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 95%;
    height: inherit;
    border-radius: inherit;
    content: "";
    background: #dbdbdb;
}

.game-chart::after
{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 50%;
    height: inherit;
    border-radius: inherit;
    content: "";
    background: #dbdbdb;
}

.iot-chart::after
{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 30%;
    height: inherit;
    border-radius: inherit;
    content: "";
    background: #dbdbdb;
}

.container-porto
{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
    overflow-x: hidden;
    overflow-y: auto;
}

.container-porto h1 {
    font-size: 2rem;
    color: #fff;
    text-transform: uppercase;
}

.grid{
    display: grid;
    place-items: center;
    grid-template-columns: 220px 220px 220px 220px;
    gap: 20px;
}

.wrapper{
    position: relative;
    width: 220px;
    height: 220px;
}

.wrapper:hover .slide-content{
    height: 100%;
}


.slide-content{
    position: absolute;
    bottom: 0;
    left: 0;
    content: "";
    background: rgba(0, 0, 0, .8);
    color: #fff;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 0;
    transition: height .6s ease;
    text-align: center;
}

.slide-content p {
    font-size: 13px;
}


.wrapper img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media screen and (min-width:320px) and (max-width:768px){
    *{
        scroll-behavior: smooth;
        overflow: hidden;
    }
    .navbar-container{
        top: 0;
        bottom: 0;
        width: 50px;
        overflow: hidden;
    }
    .navbar-container .my-profile .my-img{
        width: 35px;
    }
    .navbar-container .navigation .link:hover .name-display{
        opacity: 0;
    }
    .main{
        width: 100%;
        align-items: center;
        margin: 0;
    }
    .main .my-foto{
        width: 75%;
        right: -30%;
        z-index: -1;
    }
    .main .main-text{
         margin-left: 6rem;
    }
    
    .main .main-text .introduce{
        font-size: 20px;
        width: 95%;
    }

    .main .main-text .introduce span{
        font-size: 14px;
    }

    .main .main-text .description{
        width: 80%;
        font-size: 12px;
    }

    .main .h1{
        margin-left: 10%;
    }

    .about-container{
        width: 100%;
        height: 100%;
        margin: 0;
        margin-left: 2rem;
    }

    .introduce{
        display: flex;
        align-items: center;
        width: 80%;
        height: 100%;
    }

    .chart{
        width: 90%;
    }

    .about,.pendidikan,.skill,.experience{
        width: 100%;
        height: 100%;
        display: flex;
        gap: 2rem;
        text-align: center;
        justify-content: center;
        align-items:center;
        flex-direction: column;
    }

    .gap:last-child{
        margin-bottom: 1rem;
    }

    .gap:first-child{
        margin-top: 4rem;
    }

    .pendidikan,.experience{
        flex-direction: column-reverse;
    }

    .my-picture,.pendidikan-picture,.skill-picture,.experience-picture{
        width: 200px;
        height: 350px;
    }
    .container-porto{
        margin-left: 2rem;
    }

    .grid{
        display: grid;
        place-items: center;
        grid-template-columns: 120px 120px;
        gap: 20px;
    }

    .wrapper{
        position: relative;
        width: 100%;
        height: 120px;
    }
}